<!-- signup.cshtml -->
@{
    ViewData["HideHeader"] = true;
}

<section class="signup-container">
    <div class="signup-content">
        <div class="signup-text">
            <h1 class="signup-heading">Bienvenido a Zeta</h1>
            <h3 class="signup-subheading">Alon Avion Alon Avion Alon Avion</h3>
            <button type="submit" class="signup-btn-next" onclick="window.location.href='/Home/'">Siguiente</button>
        </div>
    </div>
</section>
