<!-- signup.cshtml -->
@{
    ViewData["HideHeader"] = true;
}

<section class="signup-container">
    <div class="signup-content">
        <div class="signup-text">
            <h1 class="signup-heading">Creá tu cuenta</h1>
            <h3 class="signup-subheading">Ingresa tus Nombre y Apellido</h3>
            <button type="submit" class="signup-btn-next">Siguiente</button>
        </div>
    </div>
</section>
