    @model List<Post>

    <section class="community-section">
        <div class="inner-community">
            <h1 class="community-title">Comunidad</h1>
            <div class="community-cards-container">

                @foreach (var post in Model)
                {
                    <div class="community-card">
                        <img src="@post.imagen_url" alt="Imagen del post" class="community-card-image">
                        
                        <div class="bottom-community-card">
                            <p class="community-card-text">
                                @post.contenido_post
                            </p>

                            <span class="community-time-posted">
                                @post.fecha_creacion.ToShortDateString() por @post.autor
                            </span>

                            <div class="community-card-footer">
                                <button>
                                    <img src="/img/icon_like.svg">
                                    <span>214</span>
                                </button>

                                <button>
                                    <img src="/img/icon_dislike.svg">
                                    <span>214</span>
                                </button>

                                <button>
                                    <img src="/img/icon_comments.svg">
                                    <span>214</span>
                                </button>

                                <button>
                                    <img src="/img/icon_share.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <button class="button-add-post" onclick="openPopup()">
                <img src="/img/icon_button_add.svg">
            </button>

            <div id="postPopup" class="popup-container">
                <div class="popup-content">
                    <img src="/img/icon_close.svg" class="close-btn" onclick="closePopup()">

                    <div class="top-pop-up-add-post">
                    <img src="/img/icon_user.svg">

                    <textarea id="postInput" name="comments" placeholder="¿Qué quieres decir?"></textarea>

                    <button class="button-select-img">
                        <img src="/img/icon_img.svg">
                    </button>
                    </div>

                    <button class="publish-btn">Publicar</button>
                </div>
            </div>

        </div>
    </section>
