@{
    List<Post> posts = ViewBag.posts;
}

<section class="community-section">
    <div class="inner-community">
        <h1 class="community-title">Comunidad</h1>
        <div class="community-cards-container">

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">

                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

            <div class="community-card">
                <img src="/img/first-img.png" alt="Healthy salad" class="community-card-image">

                <div class="bottom-community-card">
                
                    <p class="community-card-text">
                        “Hola, comunidad! Hace poco decidí cambiar mis desayunos tradicionales por algo más fresco y balanceado. Estoy haciendo estas ensaladas rápidas cada mañana y me siento genial. ¿Qué desayunos más saludables están disfrutando ustedes? Gracias por los tips! 🌱 #DesayunoSaludable #EnergíaNatural”
                    </p>

                    <span class="community-time-posted">
                        6 hours ago by someone
                    </span>

                    <div class="community-card-footer">
                        <button>
                            <img src="/img/icon_like.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_dislike.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_comments.svg">
                            <span>214</span>
                        </button>

                        <button>
                            <img src="/img/icon_share.svg">
                        </button>
                    </div>
                
                </div>

            </div>

        </div>

        <button class="button-add-post" onclick="openPopup()">
            <img src="/img/icon_button_add.svg">
        </button>

        <div id="postPopup" class="popup-container">
            <div class="popup-content">
                <img src="/img/icon_close.svg" class="close-btn" onclick="closePopup()">

                <div class="top-pop-up-add-post">
                    <img src="/img/icon_user.svg">
                    <input id="postInput" type="text" placeholder="¿Qué quieres decir?" />
                </div>

                <div class="buttons-pop-up-add-post">
                    <button>
                        <img src="/img/icon_calendar.svg">
                    </button>

                    <button>
                        <img src="/img/icon_calendar.svg">
                    </button>

                    <button>
                        <img src="/img/icon_calendar.svg">
                    </button>

                    <button>
                        <img src="/img/icon_calendar.svg">
                    </button>

                    <button>
                        <img src="/img/icon_calendar.svg">
                    </button>
                </div>

                <button class="publish-btn">Publicar</button>
            </div>
        </div>

    </div>
</section>

@foreach (var post in posts)
{
    <p>@post.TituloPost - @post.ContenidoPost</p>
}