@{
    ViewData["Title"] = "Home Page";
}

<section class="landing-page">

    <div class="evaluation-content">

        <h1>EVALUÁ TU PRODUCTO</h1>

        <h3>Acá encontrarás toda la información nutricional 100% simplificada</h3>

        <div class="search-bar">

            <button type="submit" class="search-button">
                <img src="/img/icon_search.svg" alt="Search Icon" width="20" height="20">
            </button>

            <input type="text" placeholder="Ej: Fideos Matarazzo" class="search-input">

        </div>

  
        

    </div>

    <div class="info-buttons">

        <div class="info-button">
            <img src="/img/icon_food.svg" alt="Icono Comida">
            <span>Ingresás que querés comer</span>
        </div>
        
        <div class="info-button">
            <img src="/img/icon_order-completed.svg" alt="Icono Order Completed">
            <span>Obtenés feedback nutricional rápido</span>
        </div>

        <div class="info-button">
            <img src="/img/icon_healthy-eating.svg" alt="Icono Información">
            <span>Te informás íntegramente con facilidad</span>
        </div>

        <div class="info-button">
            <img src="/img/icon_scales.svg" alt="Icono Decisión">
            <span>Te ayudamos a tomar una decisión</span>
        </div>

    </div>

    <div class="nutrition-evaluation" style="padding-top: 6rem;" >
    <div class="product-info">
        <div class="rating absolute">
        <div class="circle red"></div>
        <h3>Muy Malo</h3>
        </div>
        <img src="/img/lays-classic.svg" alt="Lays Clasicas" class="product-image">
        <div class="nutrition-details">
        <div class="nutrition-detail">
            <img src="/img/icon_high_fat.svg" alt="Alto en grasas">
            <span>Alto en Grasas</span>
        </div>
        <div class="nutrition-detail">
            <img src="/img/icon_high_calories.svg" alt="Alto en calorías">
            <span>Alto en Calorías</span>
        </div>
        <div class="nutrition-detail">
            <img src="/img/icon_low_protein.svg" alt="Bajas proteínas">
            <span>Bajas Proteínas</span>
        </div>
        </div>
    </div>
    <div class="nutritional-info">
        <h2>Conocé cual es la calidad nutricional de tus comidas y bebidas</h2>
        <p>¿Sabés realmente lo que estás comprando? ¡Nosotros sí! Zeta escanea y analiza las etiquetas en un abrir y cerrar de ojos para que puedas saber de un vistazo qué productos son buenos para ti y cuáles debes evitar.
        </p>
    </div>
    </div>

</section>
