@{
    ViewData["Title"] = "Home Page";
}

<section class="page">

    <div class="inner">
        
        <div class="evaluation-content">

            <h1>EVALUÁ TU PRODUCTO</h1>

            <h3>Acá encontrarás toda la información nutricional 100% simplificada</h3>

            <div class="search-bar">

                <button type="submit" class="search-button">
                    <img src="/img/icon_search.svg" alt="Search Icon" width="20" height="20">
                </button>

                <input type="text" placeholder="Ej: Fideos Matarazzo" class="search-input">

            </div>

        </div>

        <div class="info-buttons">

            <div class="info-button">
                <img src="/img/icon_food.svg" alt="Icono Comida">
                <span>Ingresás que querés comer</span>
            </div>
            
            <div class="info-button">
                <img src="/img/icon_order-completed.svg" alt="Icono Order Completed">
                <span>Obtenés feedback nutricional rápido</span>
            </div>

            <div class="info-button">
                <img src="/img/icon_healthy-eating.svg" alt="Icono Información">
                <span>Te informás íntegramente con facilidad</span>
            </div>

            <div class="info-button">
                <img src="/img/icon_scales.svg" alt="Icono Decisión">
                <span>Te ayudamos a tomar una decisión</span>
            </div>

        </div>

    </div>

</section>

<section class="sec-nutrition-evaluation">

    <div class="nutrition-evaluation-inner">

        <div class="product-info">

            <div class="img-rating">
                <img src="/img/lays-classic.svg" alt="Lays Clasicas" class="product-image">

                <div class="rating">
                    <div class="circle red"></div>
                    <h3>Muy Malo</h3>
                </div>

                <div class="circle-shadow-img">
                
                </div>
            </div>
            
            <div class="nutrition-details">
                <div class="nutrition-detail">
                    <img src="/img/icon_fat.svg" alt="Alto en grasas">
                    <span>Alto en Grasas</span>
                </div>
                <div class="nutrition-detail">
                    <img src="/img/icon_calories.svg" alt="Alto en calorías">
                    <span>Alto en Calorías</span>
                </div>
                <div class="nutrition-detail">
                    <img src="/img/icon_protein.svg" alt="Bajas proteínas">
                    <span>Bajas Proteínas</span>
                </div>
            </div>

        </div>

        <div class="nutritional-info">
            <h2>Conocé cual es la calidad nutricional de tus comidas y bebidas</h2>
            <p>¿Sabés realmente lo que estás comprando? ¡Nosotros sí! Zeta escanea y analiza las etiquetas en un abrir y cerrar de ojos para que puedas saber de un vistazo qué productos son buenos para ti y cuáles debes evitar.
            </p>
        </div>

    </div>

</section>

<section class="sec-funcionalidades">

    <div class="funcionalidades-inner">

        <h2>Otras cosas que podés disfrutar de la plataforma Zeta</h2>

            <div class="cards-container"> 
            
                <div class="card-funcionalidad">
                
                    <div class="contenedor-imagen-card-funcionalidad">
                        <img src="/img/imgCard1.png" alt=""/>
                    </div>

                    <h3 class="titulo-card-funcionalidad">Comparador de alimentos y bebidas</h3>

                    <p class="descripcion-card-funcionalidad">Compara de manera visual y rápida el valor nutricional de alimentos y bebidas, ayudándote a tomar decisiones más saludables sin complicaciones.</p>

                    <a class="button-card" href="" target="_blank">Pruébalo Ahora</a>
                </div>
            
                <div class="card-funcionalidad"> 
                    
                    <div class="contenedor-imagen-card-funcionalidad">
                        <img src="/img/imgCard2.png" alt=""/>
                    </div>

                    <h3 class="titulo-card-funcionalidad">Interactuá con usuarios de intereses similares</h3>

                    <p class="descripcion-card-funcionalidad">Conectate con personas que comparten tus metas de salud y bienestar. A partir de nuestra sección de comunidad vas a poder compartir experiencias, consejos y lograr tus objetivos junto a una comunidad de gente comprometida.</p>

                    <a class="button-card" href="" target="_blank">Ir a comunidad</a>
                </div>

                <div class="card-funcionalidad">
                    
                    <div class="contenedor-imagen-card-funcionalidad">
                        <img src="/img/imgCard3.png" alt=""/>
                    </div>

                    <h3 class="titulo-card-funcionalidad">Aprendé sobre diversos temas de nutrición</h3>

                    <p class="descripcion-card-funcionalidad">Explorá artículos creados por nuestro equipo de expertos en nutrición. Descubrí información confiable y práctica para mejorar tu bienestar y adoptar hábitos más saludables.</p>

                    <a class="button-card" href="" target="_blank">Ir al Blog</a>
                </div>

        </div>

    </div>


</section>

<section class="sec-advertisements-blog">

    <div class="advertisements-blog-inner">

        <h2>Últimas noticas del Blog Alimenticio</h2>

            <div class="cards-container"> 
            
                <div class="card-advertisement-blog">

                    <p class="fecha-card-blog">OCTUBRE 10</p>

                    <h3 class="titulo-card-blog">Para conciliar el sueño</h3>

                    <p class="descripcion-card-blog">Estos son los dos tés que conviene tomar todas las noches antes de dormir</p>
                
                    <div class="contenedor-imagen-card-blog">
                        <img src="/img/imgCard4.png" alt=""/>
                    </div>

                </div>

                <div class="card-advertisement-blog">

                    <p class="fecha-card-blog">SEPTIEMBRE 23</p>

                    <h3 class="titulo-card-blog">Higado Graso</h3>

                    <p class="descripcion-card-blog">Cómo prevenir la enfermedad que afecta a un cuarto de la población</p>
                
                    <div class="contenedor-imagen-card-blog">
                        <img src="/img/imgCard5.png" alt=""/>
                    </div>

                </div>

                <div class="card-advertisement-blog">

                    <p class="fecha-card-blog">SEPTIEMBRE 16</p>

                    <h3 class="titulo-card-blog">Beneficioso para la Salud</h3>

                    <p class="descripcion-card-blog">El condimento de origen japonés que agiliza el metabolismo y es poco consumido</p>
                
                    <div class="contenedor-imagen-card-blog">
                        <img src="/img/imgCard6.png" alt=""/>
                    </div>

                </div>

            </div>

    </div>


</section>

<section class="contact-section">
    <div class="contact-inner">
        <div class="contact-image">
            <img src="/img/img_contact.svg" alt="Contacto">
        </div>
        <div class="contact-content">
            <h1>¿Te quedó alguna inquietud?</h1>
            <h3>Escribinos que a la brevedad te contestamos.</h3>
            <a href="#contact" class="contact-button"><h3>Ir a contacto</h3></a>
        </div>
    </div>
</section>