@{
    ViewData["HideHeader"] = true;
}

<section class="login-container">
    <div class="login-content">
        
        <!-- Botón de Back -->
        <button class="back-button" onclick="window.location.href='/Home/'">
            <img src="~/img/icon_back.svg" alt="Back">
        </button>

        <div class="illustration">
            <img src="~/img/img_login.svg" alt="Person holding apple illustration" />
        </div>
        <div class="welcome-message">
            <h1 class="welcome-heading">Te damos la bienvenida a la comunidad Zeta</h1>

            <!-- Formulario para autenticación -->
            <form asp-action="Login" method="post" class="login-form">
                <div class="inputs-group">
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Correo electrónico" required />
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" placeholder="Contraseña" required />
                    </div>
                    <div class="forgot-password">
                        <a href="/Account/ForgotPassword">
                            <span class="small-text">&#191;Has olvidado tu contraseña?</span>
                        </a>
                    </div>
                </div>
                
                <!-- Grupo de botones -->
                <div class="button-group">
                    <button type="submit" class="btn-login">Iniciar sesión</button>
                    <button type="button" class="btn-create-account" onclick="window.location.href='/Home/ca1'">
                        Crear cuenta
                    </button>
                </div>
            </form>

            @if (ViewBag.Error != null)
            {
                <div class="error-message">
                    <span style="color: red;">@ViewBag.Error</span>
                </div>
            }
        </div>
    </div>
</section>
