@{
    ViewData["Title"] = "Producto EN ALTA";
}

<h1 class="product-title">FIDEOS MATARAZZO FORATINI</h1>

<div class="product-section">
    <div class="product-inner">
        <div class="product-details-container">
            <div class="product-image-rating">
                <div class="product-image-wrapper">
                    <img src="/img/lays-classic.svg" alt="Lays Classic" class="product-image-new" />
                    <div class="product-rating">
                        <span class="rating-circle rating-red"></span>
                        <h3 class="rating-text">Mediocre</h3>
                    </div>
                </div>
            </div>
            <div class="product-nutrition-info">

                <div class="nutrition-info-item">

                    <div class="icon-container-info-item">
                    
                        <img src="/img/icon_carbs.svg" class="nutrition-icon" />

                    </div>
                    
                    <span>Alto en Carbohidratos</span>
                </div>

                <div class="nutrition-info-item">

                    <div class="icon-container-info-item">
                    
                        <img src="/img/icon_proteins.svg" class="nutrition-icon" />

                    </div>
                    
                    <span>Bajo en Proteínas</span>
                </div>

                <div class="nutrition-info-item">

                    <div class="icon-container-info-item">
                    
                        <img src="/img/icon_vitamins.svg" class="nutrition-icon" />

                    </div>
                    
                    <span>Rico en Vitamina B</span>
                </div>

            </div>
        </div>
    </div>
</div>

@* Nutrition Evaluation Section *@
<div class="nutrition-evaluation">

    <h2>Positivas</h2>

    <div class="nutrition-item">
        <img src="/img/icon_fat.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-down.svg" />
        <div class="nutrition-description">
            <h3>Bajo en grasas</h3>
            <p>Ideal si sigues una dieta reducida en grasas.</p>
        </div>

        <span> <2g de grasa por porción de 100 g</span>
        <img src="/img/icon_tick.svg" class="tick-icon"/>

    </div>

    <div class="nutrition-item">
        <img src="/img/icon_salt.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-down.svg" />
        <div class="nutrition-description">
            <h3>Bajo en sodio</h3>
            <p>Contribuye a mantener una ingesta controlada de sodio.</p>
        </div>

        <span>10mg cada 100g</span>

        <img src="/img/icon_tick.svg" class="tick-icon"/>

    </div>

    <div class="nutrition-item">
        <img src="/img/icon_vitamins.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-up.svg" />
        <div class="nutrition-description">
            <h3>Fuente de vitamina B</h3>
            <p>Estas vitaminas son importantes para el metabolismo, la energía y la salud del sistema nervioso.</p>
        </div>

        <span>30,5% de la ingesta diaria recomendada</span>
        <img src="/img/icon_tick.svg" class="tick-icon"/>

    </div>

    <h2>Negativas</h2>

    <div class="nutrition-item">
        <img src="/img/icon_fiber.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-down.svg" />
        <div class="nutrition-description">
            <h3>Bajo en Fibras</h3>
            <p>Poca cantidad en comparación con otras fuentes de carbohidratos más ricas en fibra.</p>
        </div>

        <span>Estadística</span>
        <img src="/img/icon_close.svg" class="close-icon"/>

    </div>

    <div class="nutrition-item">
        <img src="/img/icon_sugar.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-up.svg" />
        <div class="nutrition-description">
            <h3>Alto Índice Glucémico</h3>
            <p>Contiene un índice glucémico (IG) demasiado alto, lo que puede generar picos de glucosa en la sangre, afectando a personas con resistencia a la insulina o diabetes.</p>
        </div>

        <span>Estadística</span>
        <img src="/img/icon_close.svg" class="close-icon"/>

    </div>

    <div class="nutrition-item">
        <img src="/img/icon_calories.svg" class="nutrition-icon" />
        <img src="/img/icon_arrow-up.svg" />
        <div class="nutrition-description">
            <h3>Alto en Calorías</h3>
            <p>Si no se consume moderadamente en combinación con otros alimentos puede contribuir a un consumo elevado de calorías.</p>
        </div>

        <span>Estadística</span>
        <img src="/img/icon_close.svg" class="close-icon"/>

    </div>

</div>